# Databases: Sql Lite

In [1]:
using Pkg

In [2]:
Pkg.add("SQLite")

   Updating registry at `C:\Users\HP\.julia\registries\General`
   Updating git-repo `https://github.com/JuliaRegistries/General.git`

Fetching: [========================================>]  100.0 %.0 %Fetching: [========>                                ]  19.1 %]  85.2 %

  Resolving package versions...
  Installed SQLite_jll ───── v3.31.1+0
  Installed DBInterface ──── v2.1.0
  Installed SQLite ───────── v1.0.3
  Installed BinaryProvider ─ v0.5.9
   Updating `C:\Users\HP\.julia\environments\v1.4\Project.toml`
  [0aa819cd] + SQLite v1.0.3
   Updating `C:\Users\HP\.julia\environments\v1.4\Manifest.toml`
  [b99e7846] + BinaryProvider v0.5.9
  [a10d1c49] + DBInterface v2.1.0
  [0aa819cd] + SQLite v1.0.3
  [76ed43ae] + SQLite_jll v3.31.1+0
   Building SQLite → `C:\Users\HP\.julia\packages\SQLite\KwDwo\deps\build.log`

In [3]:
using SQLite

┌ Info: Precompiling SQLite [0aa819cd-b072-5ff4-a722-6bc24af294d9]
└ @ Base loading.jl:1260

DDL - Create, Alter and Drop - SQLite.DB
DML - Insert, Update and Delete - SQLite.execute
DQl - Select - SQLite.Query

In [32]:
using DataFrames

In [4]:
db = SQLite.DB("Movies")

SQLite.DB("Movies")

In [30]:

SQLite.execute(db, "CREATE TABLE IF NOT EXISTS movies(movie_id REAL, movie_name TEXT)")
# after "using DataFrame" we can also use
# DBInterface.execute(db, "....")

101

In [31]:
# prints in the form of dataframe
SQLite.tables(db) |> DataFrame

1×1 DataFrame
│ Row │ name   │
│     │ String │
├─────┼────────┤
│ 1   │ movies │

In [8]:
SQLite.execute(db, "INSERT INTO movies VALUES(1, 'Avengers')")

101

In [29]:
DBInterface.execute(db, "SELECT * FROM movies") |> DataFrame

1×2 DataFrame
│ Row │ movie_id │ movie_name │
│     │ Float64  │ String     │
├─────┼──────────┼────────────┤
│ 1   │ 1.0      │ Avengers   │

In [36]:
# OR
DataFrame(DBInterface.execute(db, "SELECT * FROM movies"))

1×2 DataFrame
│ Row │ movie_id │ movie_name │
│     │ Float64  │ String     │
├─────┼──────────┼────────────┤
│ 1   │ 1.0      │ Avengers   │

In [34]:
# DataFrame(SQLite.Query(db, "SELECT * FROM movies"))
# not working ....

In [40]:
# column description
SQLite.columns(db, "movies") |> DataFrame

2×6 DataFrame
│ Row │ cid   │ name       │ type   │ notnull │ dflt_value │ pk    │
│     │ Int64 │ String     │ String │ Int64   │ Missing    │ Int64 │
├─────┼───────┼────────────┼────────┼─────────┼────────────┼───────┤
│ 1   │ 0     │ movie_id   │ REAL   │ 0       │ missing    │ 0     │
│ 2   │ 1     │ movie_name │ TEXT   │ 0       │ missing    │ 0     │

IMPORTING WORKING W/ DATABASES

db_name = SQLite.DB("database_name.db")
SQLite.tables(db_name)
DBInterface.execute(db_name, "....") |> DataFrame

In [43]:
# where condition
# Group By
# Order by
# having
# Join
# etc....

# Working w/ Python Packages

In [44]:
using Pkg

to make the GR up-to-date
basically GR is for visualization i.e for Plots

ENV["GRDIR"] = ""
Pkg.build("GR")

build the PyCall properly if there is error in precompilation using:

Pkg.build("PyCall")

In [9]:
using PyCall

┌ Info: Precompiling PyCall [438e738f-606a-5dbb-bf0a-cddfbfd45ab0]
└ @ Base loading.jl:1260

In [10]:
np = pyimport("numpy")

PyObject <module 'numpy' from 'C:\\Users\\HP\\.julia\\conda\\3\\lib\\site-packages\\numpy\\__init__.py'>

In [11]:
a1 = np.array([1,2,3,4,5])

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [12]:
np.mean(a1)

3.0

In [13]:
math = pyimport("math")

PyObject <module 'math' (built-in)>

In [14]:
cos(2)

-0.4161468365471424