# Functions

In [1]:
f(x) = x+x

f (generic function with 1 method)

In [2]:
f(2)

4

In [3]:
function multiply(x,y)
    return x * y
end

multiply (generic function with 1 method)

In [4]:
multiply(2,3)

6

In [5]:
function meter_to_inch(val)
    return val * 39.37
end

meter_to_inch (generic function with 1 method)

In [6]:
meter_to_inch(1.5)

59.05499999999999

In [7]:
name = "chetan"
print("Hi...",name,", this is Julia")

Hi...chetan, this is Julia

# formatting number and string

In [12]:
using Printf
# we can use all the macros of printf now

In [10]:
name = "Chetan Sinha"; #semicolon will not make the name print after executing

In [11]:
@printf("Hello %s", name)

Hello Chetan Sinha

In [13]:
@sprintf("Hello %s", name)

"Hello Chetan Sinha"

In [14]:
ch = 'i'
@printf("%c", ch)

i

In [15]:
z = 1212341132
@printf("%.3e", z)

1.212e+09

# Working with .csv files

In [16]:
using CSV

ArgumentError: ArgumentError: Package CSV not found in current path:
- Run `import Pkg; Pkg.add("CSV")` to install the CSV package.

In [17]:
using Pkg

In [18]:
Pkg.add("CSV")

   Updating registry at `C:\Users\HP\.julia\registries\General`

   Updating git-repo `https://github.com/JuliaRegistries/General.git`

[1mFetching: [========================================>]  100.0 %

  Resolving package versions...
  Installed Reexport ──────────────────── v0.2.0
  Installed Missings ──────────────────── v0.4.3
  Installed IteratorInterfaceExtensions ─ v1.0.0
  Installed DataAPI ───────────────────── v1.3.0
  Installed OrderedCollections ────────── v1.1.0
  Installed TableTraits ───────────────── v1.0.0
  Installed WeakRefStrings ────────────── v0.6.2
  Installed FilePathsBase ─────────────── v0.7.0
  Installed SortingAlgorithms ─────────── v0.3.1
  Installed Tables ────────────────────── v1.0.4
  Installed InvertedIndices ───────────── v1.0.0
  Installed DataValueInterfaces ───────── v1.0.0
  Installed PooledArrays ──────────────── v0.5.3
  Installed DataStructures ────────────── v0.17.15
  Installed Compat ────────────────────── v3.9.0
  Installed CategoricalArrays ─────────── v0.7.7
  Installed DataFrames ────────────────── v0.20.2
  Installed CSV ───────────────────────── v0.6.1
   Updating `C:\Users\HP\.julia\environments\v1.4\Project.toml`
  [336ed68f] + CSV v0.6.1
   Updating `C:\Users\HP\.julia\environments\v1.4\Manifest.toml`
  [336ed68f] + CSV v0.6.1
  [324d7699] + CategoricalArrays v0.7.7
  [34da2185] + Compat v3.9.0
  [9a962f9c] + DataAPI v1.3.0
  [a93c6f00] + DataFrames v0.20.2
  [864edb3b] + DataStructures v0.17.15
  [e2d170a0] + DataValueInterfaces v1.0.0
  [48062228] + FilePathsBase v0.7.0
  [41ab1584] + InvertedIndices v1.0.0
  [82899510] + IteratorInterfaceExtensions v1.0.0
  [e1d29d7a] + Missings v0.4.3
  [bac558e1] + OrderedCollections v1.1.0
  [2dfb63ee] + PooledArrays v0.5.3
  [189a3867] + Reexport v0.2.0
  [a2af1166] + SortingAlgorithms v0.3.1
  [3783bdb8] + TableTraits v1.0.0
  [bd369af6] + Tables v1.0.4
  [ea10d353] + WeakRefStrings v0.6.2
  [8bb1440f] + DelimitedFiles
  [9fa8497b] + Future
  [37e2e46d] + LinearAlgebra
  [1a1011a3] + SharedArrays
  [2f01184e] + SparseArrays
  [10745b16] + Statistics

In [19]:
using CSV

┌ Info: Precompiling CSV [336ed68f-0bac-5ca0-87d4-7b16caf5d00b]
└ @ Base loading.jl:1260

In [25]:
prop = CSV.read("student-mat.csv", normalizenames = true)

395×33 DataFrames.DataFrame. Omitted printing of 25 columns
│ Row │ school │ sex    │ age   │ address │ famsize │ Pstatus │ Medu  │ Fedu  │
│     │ String │ String │ Int64 │ String  │ String  │ String  │ Int64 │ Int64 │
├─────┼────────┼────────┼───────┼─────────┼─────────┼─────────┼───────┼───────┤
│ 1   │ GP     │ F      │ 18    │ U       │ GT3     │ A       │ 4     │ 4     │
│ 2   │ GP     │ F      │ 17    │ U       │ GT3     │ T       │ 1     │ 1     │
│ 3   │ GP     │ F      │ 15    │ U       │ LE3     │ T       │ 1     │ 1     │
│ 4   │ GP     │ F      │ 15    │ U       │ GT3     │ T       │ 4     │ 2     │
│ 5   │ GP     │ F      │ 16    │ U       │ GT3     │ T       │ 3     │ 3     │
│ 6   │ GP     │ M      │ 16    │ U       │ LE3     │ T       │ 4     │ 3     │
│ 7   │ GP     │ M      │ 16    │ U       │ LE3     │ T       │ 2     │ 2     │
│ 8   │ GP     │ F      │ 17    │ U       │ GT3     │ A       │ 4     │ 4     │
│ 9   │ GP     │ M      │ 15    │ U       │ LE3     │ A       │ 3     │ 2     │
│ 10  │ GP     │ M      │ 15    │ U       │ GT3     │ T       │ 3     │ 4     │
⋮
│ 385 │ MS     │ M      │ 18    │ R       │ GT3     │ T       │ 4     │ 2     │
│ 386 │ MS     │ F      │ 18    │ R       │ GT3     │ T       │ 2     │ 2     │
│ 387 │ MS     │ F      │ 18    │ R       │ GT3     │ T       │ 4     │ 4     │
│ 388 │ MS     │ F      │ 19    │ R       │ GT3     │ T       │ 2     │ 3     │
│ 389 │ MS     │ F      │ 18    │ U       │ LE3     │ T       │ 3     │ 1     │
│ 390 │ MS     │ F      │ 18    │ U       │ GT3     │ T       │ 1     │ 1     │
│ 391 │ MS     │ M      │ 20    │ U       │ LE3     │ A       │ 2     │ 2     │
│ 392 │ MS     │ M      │ 17    │ U       │ LE3     │ T       │ 3     │ 1     │
│ 393 │ MS     │ M      │ 21    │ R       │ GT3     │ T       │ 1     │ 1     │
│ 394 │ MS     │ M      │ 18    │ R       │ LE3     │ T       │ 3     │ 2     │
│ 395 │ MS     │ M      │ 19    │ U       │ LE3     │ T       │ 1     │ 1     │

In [26]:
typeof(prop)

DataFrames.DataFrame

In [27]:
names(prop)

33-element Array{Symbol,1}:
 :school
 :sex
 :age
 :address
 :famsize
 :Pstatus
 :Medu
 :Fedu
 :Mjob
 :Fjob
 :reason
 :guardian
 :traveltime
 ⋮
 :internet
 :romantic
 :famrel
 :freetime
 :goout
 :Dalc
 :Walc
 :health
 :absences
 :G1
 :G2
 :G3

In [28]:
size(prop)

(395, 33)

In [30]:
Pkg.add("DataFrames")

  Resolving package versions...
   Updating `C:\Users\HP\.julia\environments\v1.4\Project.toml`
  [a93c6f00] + DataFrames v0.20.2
   Updating `C:\Users\HP\.julia\environments\v1.4\Manifest.toml`
 [no changes]

In [31]:
using DataFrames

In [32]:
head(prop)

┌ Warning: `head(df::AbstractDataFrame)` is deprecated, use `first(df, 6)` instead.
│   caller = top-level scope at In[32]:1
└ @ Core In[32]:1

6×33 DataFrame. Omitted printing of 25 columns
│ Row │ school │ sex    │ age   │ address │ famsize │ Pstatus │ Medu  │ Fedu  │
│     │ String │ String │ Int64 │ String  │ String  │ String  │ Int64 │ Int64 │
├─────┼────────┼────────┼───────┼─────────┼─────────┼─────────┼───────┼───────┤
│ 1   │ GP     │ F      │ 18    │ U       │ GT3     │ A       │ 4     │ 4     │
│ 2   │ GP     │ F      │ 17    │ U       │ GT3     │ T       │ 1     │ 1     │
│ 3   │ GP     │ F      │ 15    │ U       │ LE3     │ T       │ 1     │ 1     │
│ 4   │ GP     │ F      │ 15    │ U       │ GT3     │ T       │ 4     │ 2     │
│ 5   │ GP     │ F      │ 16    │ U       │ GT3     │ T       │ 3     │ 3     │
│ 6   │ GP     │ M      │ 16    │ U       │ LE3     │ T       │ 4     │ 3     │

In [33]:

tail(prop)

┌ Warning: `tail(df::AbstractDataFrame)` is deprecated, use `last(df, 6)` instead.
│   caller = top-level scope at In[33]:1
└ @ Core In[33]:1

6×33 DataFrame. Omitted printing of 25 columns
│ Row │ school │ sex    │ age   │ address │ famsize │ Pstatus │ Medu  │ Fedu  │
│     │ String │ String │ Int64 │ String  │ String  │ String  │ Int64 │ Int64 │
├─────┼────────┼────────┼───────┼─────────┼─────────┼─────────┼───────┼───────┤
│ 1   │ MS     │ F      │ 18    │ U       │ GT3     │ T       │ 1     │ 1     │
│ 2   │ MS     │ M      │ 20    │ U       │ LE3     │ A       │ 2     │ 2     │
│ 3   │ MS     │ M      │ 17    │ U       │ LE3     │ T       │ 3     │ 1     │
│ 4   │ MS     │ M      │ 21    │ R       │ GT3     │ T       │ 1     │ 1     │
│ 5   │ MS     │ M      │ 18    │ R       │ LE3     │ T       │ 3     │ 2     │
│ 6   │ MS     │ M      │ 19    │ U       │ LE3     │ T       │ 1     │ 1     │

In [34]:
# statistic values
describe(prop)

33×8 DataFrame. Omitted printing of 1 columns
│ Row │ variable │ mean    │ min     │ median │ max     │ nunique │ nmissing │
│     │ Symbol   │ Union…  │ Any     │ Union… │ Any     │ Union…  │ Nothing  │
├─────┼──────────┼─────────┼─────────┼────────┼─────────┼─────────┼──────────┤
│ 1   │ school   │         │ GP      │        │ MS      │ 2       │          │
│ 2   │ sex      │         │ F       │        │ M       │ 2       │          │
│ 3   │ age      │ 16.6962 │ 15      │ 17.0   │ 22      │         │          │
│ 4   │ address  │         │ R       │        │ U       │ 2       │          │
│ 5   │ famsize  │         │ GT3     │        │ LE3     │ 2       │          │
│ 6   │ Pstatus  │         │ A       │        │ T       │ 2       │          │
│ 7   │ Medu     │ 2.74937 │ 0       │ 3.0    │ 4       │         │          │
│ 8   │ Fedu     │ 2.52152 │ 0       │ 2.0    │ 4       │         │          │
│ 9   │ Mjob     │         │ at_home │        │ teacher │ 5       │          │
│ 10  │ Fjob     │         │ at_home │        │ teacher │ 5       │          │
⋮
│ 23  │ romantic │         │ no      │        │ yes     │ 2       │          │
│ 24  │ famrel   │ 3.9443  │ 1       │ 4.0    │ 5       │         │          │
│ 25  │ freetime │ 3.23544 │ 1       │ 3.0    │ 5       │         │          │
│ 26  │ goout    │ 3.10886 │ 1       │ 3.0    │ 5       │         │          │
│ 27  │ Dalc     │ 1.48101 │ 1       │ 1.0    │ 5       │         │          │
│ 28  │ Walc     │ 2.29114 │ 1       │ 2.0    │ 5       │         │          │
│ 29  │ health   │ 3.55443 │ 1       │ 4.0    │ 5       │         │          │
│ 30  │ absences │ 5.70886 │ 0       │ 4.0    │ 75      │         │          │
│ 31  │ G1       │ 10.9089 │ 3       │ 11.0   │ 19      │         │          │
│ 32  │ G2       │ 10.7139 │ 0       │ 11.0   │ 19      │         │          │
│ 33  │ G3       │ 10.4152 │ 0       │ 11.0   │ 20      │         │          │

In [35]:
prop.school

395-element CSV.Column{String,PooledString}:
 "GP"
 "GP"
 "GP"
 "GP"
 "GP"
 "GP"
 "GP"
 "GP"
 "GP"
 "GP"
 "GP"
 "GP"
 "GP"
 ⋮
 "MS"
 "MS"
 "MS"
 "MS"
 "MS"
 "MS"
 "MS"
 "MS"
 "MS"
 "MS"
 "MS"
 "MS"

In [37]:
prop[:,3] #all rows and 3rd col i.e all val of 3rd col

395-element Array{Int64,1}:
 18
 17
 15
 15
 16
 16
 16
 17
 15
 15
 15
 15
 15
  ⋮
 19
 18
 18
 18
 19
 18
 18
 20
 17
 21
 18
 19

In [38]:
prop[:, [1, 2, 3]]

395×3 DataFrame
│ Row │ school │ sex    │ age   │
│     │ String │ String │ Int64 │
├─────┼────────┼────────┼───────┤
│ 1   │ GP     │ F      │ 18    │
│ 2   │ GP     │ F      │ 17    │
│ 3   │ GP     │ F      │ 15    │
│ 4   │ GP     │ F      │ 15    │
│ 5   │ GP     │ F      │ 16    │
│ 6   │ GP     │ M      │ 16    │
│ 7   │ GP     │ M      │ 16    │
│ 8   │ GP     │ F      │ 17    │
│ 9   │ GP     │ M      │ 15    │
│ 10  │ GP     │ M      │ 15    │
⋮
│ 385 │ MS     │ M      │ 18    │
│ 386 │ MS     │ F      │ 18    │
│ 387 │ MS     │ F      │ 18    │
│ 388 │ MS     │ F      │ 19    │
│ 389 │ MS     │ F      │ 18    │
│ 390 │ MS     │ F      │ 18    │
│ 391 │ MS     │ M      │ 20    │
│ 392 │ MS     │ M      │ 17    │
│ 393 │ MS     │ M      │ 21    │
│ 394 │ MS     │ M      │ 18    │
│ 395 │ MS     │ M      │ 19    │