# Tuples

In [1]:
t1 = (1,2,3,4,5)

(1, 2, 3, 4, 5)

In [3]:
# tuples are immutable
t1[2] = 6

MethodError: MethodError: no method matching setindex!(::NTuple{5,Int64}, ::Int64, ::Int64)

In [5]:
t1[2:end]

(2, 3, 4, 5)

In [6]:
t2d = ((1,2), (3,4))

((1, 2), (3, 4))

In [9]:
t2d[1][1]

1

In [10]:
marks = (Science=(90,100), Maths = (95,100), CS = (100,100))

(Science = (90, 100), Maths = (95, 100), CS = (100, 100))

In [11]:
marks.Science

(90, 100)

In [12]:
marks2 = (Histort = (30,100), Chem = (55, 100))

(Histort = (30, 100), Chem = (55, 100))

In [14]:
merge_marks = merge(marks, marks2)

(Science = (90, 100), Maths = (95, 100), CS = (100, 100), Histort = (30, 100), Chem = (55, 100))

In [16]:
merge_marks.Chem

(55, 100)

# Dictionary

In [17]:
Cars = Dict("Mercedez" => 100000, "Audi" => 200000, "Ferrari" => 2000000)

Dict{String,Int64} with 3 entries:
  "Audi"     => 200000
  "Ferrari"  => 2000000
  "Mercedez" => 100000

In [19]:
Cars["Mercedez"]

100000

In [21]:
dict2 = Dict(:Car1 => 19999, :Car2 => 200000, :Car3 => 500000)

Dict{Symbol,Int64} with 3 entries:
  :Car3 => 500000
  :Car1 => 19999
  :Car2 => 200000

In [23]:
dict2[:Car1]

19999

In [25]:
# check if key is present or not
haskey(dict2, :Car2)

true

In [26]:
delete!(dict2, :Car1)

Dict{Symbol,Int64} with 2 entries:
  :Car3 => 500000
  :Car2 => 200000

In [27]:
dict2

Dict{Symbol,Int64} with 2 entries:
  :Car3 => 500000
  :Car2 => 200000

In [29]:
# get all the keys
keys(dict2)

Base.KeySet for a Dict{Symbol,Int64} with 2 entries. Keys:
  :Car3
  :Car2

# Sets

In [30]:
sports_Brands = Set(["Adidas", "Nike", "Puma", "Adidas", "Rebook"])

Set{String} with 4 elements:
  "Rebook"
  "Nike"
  "Puma"
  "Adidas"

In [31]:
in("HRX", sports_Brands)

false

In [37]:
sports_brands_india = Set(["HRX", "Roadster", "Puma"])

Set{String} with 3 elements:
  "Puma"
  "HRX"
  "Roadster"

In [38]:
union(sports_Brands, sports_brands_india)

Set{String} with 6 elements:
  "Rebook"
  "Nike"
  "Puma"
  "HRX"
  "Roadster"
  "Adidas"

In [39]:
intersect(sports_Brands, sports_brands_india)

Set{String} with 1 element:
  "Puma"

In [40]:
setdiff(sports_Brands, sports_brands_india)

Set{String} with 3 elements:
  "Rebook"
  "Nike"
  "Adidas"

In [42]:
# adding the element in the set
push!(sports_Brands, "HRX")

Set{String} with 5 elements:
  "Rebook"
  "Nike"
  "Puma"
  "HRX"
  "Adidas"

# date and time

In [43]:
# Dates.Time
# Dates.Date
# Dates.Datetime

In [44]:
using Dates

In [45]:
now()

2020-05-04T21:20:19.652

In [46]:
today()

2020-05-04

In [47]:
birthdate = Date(1999, 8, 4)

1999-08-04

In [48]:
DateTime(1999, 8, 4, 4, 4, 4)

1999-08-04T04:04:04

In [49]:
now(UTC) #mention diff timezones

2020-05-04T15:52:02.963

In [50]:
year(birthdate)

1999

In [51]:
month(birthdate)

8

In [52]:
year(now())

2020

In [53]:
hour(now())

21

In [54]:
dayofweek(birthdate)

3

In [55]:
dayname(birthdate)

"Wednesday"

In [56]:
dayname(now())

"Monday"

In [57]:
dayofquarter(now())

35

In [58]:
daysinmonth(birthdate)

31

In [60]:
# (anydate - anydate) calculates date difference bw
# given iff both are in same format

In [62]:
today() + Month(5) #add 5 month from today

2020-10-04

In [63]:
date_format = DateFormat("dd-mm-yy")

dateformat"dd-mm-yy"

In [64]:
Dates.format(birthdate, date_format)

"04-08-99"